## Pandas

* Many I/O tools
* Supports heterogeneous data (mixed types)
* Time series functionality
* Efficient with large amounts of data
* Easily slices and dices data
* Many statistics algorithms out of the box
* Advanced visualtion options
* Top-notch documentation

In [3]:
from os import path
fname = path.expanduser('~/Desktop/track.csv')

In [4]:
!ls -lh "$fname"

-rwxrwxrwx  1 akimball  staff    43K Apr  7  2017 /Users/akimball/Desktop/track.csv

In [5]:
!head "$fname"

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219

In [6]:
# Number of lines

!wc -l "$fname"

     741 /Users/akimball/Desktop/track.csv

In [7]:
import pandas as pd
df = pd.read_csv(fname)

In [8]:
len(df)

740

In [9]:
df.columns

Index(['time', 'lat', 'lng', 'height'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 4 columns):
time      740 non-null object
lat       740 non-null float64
lng       740 non-null float64
height    740 non-null float64
dtypes: float64(3), object(1)
memory usage: 23.2+ KB

In [11]:
df.head()

                      time        lat        lng      height
0  2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [12]:
df.dtypes

time       object
lat       float64
lng       float64
height    float64
dtype: object

### Parse time on CSV import

In [13]:
df = pd.read_csv(fname, parse_dates=['time'])
df.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [14]:
df['lat']

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
5      35.014704
6      35.014657
7      35.014563
8      35.014549
9      35.014515
10     35.014505
11     35.014481
12     35.014472
13     35.014439
14     35.014432
15     35.014414
16     35.014400
17     35.014372
18     35.014365
19     35.014337
20     35.014331
21     35.014303
22     35.014306
23     35.014340
24     35.013531
25     35.013606
26     35.013630
27     35.013705
28     35.013730
29     35.013809
         ...
710    35.015705
711    35.015640
712    35.015617
713    35.015551
714    35.015533
715    35.015468
716    35.015444
717    35.015369
718    35.015343
719    35.015264
720    35.015238
721    35.015157
722    35.015129
723    35.015048
724    35.015023
725    35.014943
726    35.014916
727    35.014835
728    35.014810
729    35.014737
730    35.014709
731    35.014617
732    35.014584
733    35.014518
734    35.014484
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [15]:
df['lat'][0]

35.015021000000004

In [16]:
df.loc[0]

time      2015-08-20 03:48:07.235000
lat                           35.015
lng                          32.5196
height                         136.2
Name: 0, dtype: object

In [17]:
df.loc[2:7]

                     time        lat        lng      height
2 2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5 2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
6 2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
7 2015-08-20 03:48:33.793  35.014563  32.519719  121.699997

### Using labels as indices

In [18]:
import numpy as np
df1 = pd.DataFrame(np.arange(10).reshape((5,2)), columns=['x','y'], index=['a', 'b', 'c', 'd', 'e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [19]:
df1.loc['a']

x    0
y    1
Name: a, dtype: int64

In [20]:
df1.loc['b':'d']

   x  y
b  2  3
c  4  5
d  6  7

In [21]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [22]:
df.index = df['time']

In [23]:
df.index

DatetimeIndex(['2015-08-20 03:48:07.235000', '2015-08-20 03:48:24.734000',
               '2015-08-20 03:48:25.660000', '2015-08-20 03:48:26.819000',
               '2015-08-20 03:48:27.828000', '2015-08-20 03:48:29.720000',
               '2015-08-20 03:48:30.669000', '2015-08-20 03:48:33.793000',
               '2015-08-20 03:48:34.869000', '2015-08-20 03:48:37.708000',
               ...
               '2015-08-20 04:20:18.844000', '2015-08-20 04:20:21.996000',
               '2015-08-20 04:20:22.897000', '2015-08-20 04:20:24.905000',
               '2015-08-20 04:20:25.835000', '2015-08-20 04:20:28.982000',
               '2015-08-20 04:20:29.923000', '2015-08-20 04:20:32.863000',
               '2015-08-20 04:20:33.994000', '2015-08-20 04:20:42.329000'],
              dtype='datetime64[ns]', name='time', length=740, freq=None)

In [24]:
# Filtering times
df.loc['2015-08-20 03:48']

,time,lat,lng,height
time,,,,
2015-08-20 03:48:07.235,2015-08-20 03:48:07.235,35.015021,32.519585,136.199997
2015-08-20 03:48:24.734,2015-08-20 03:48:24.734,35.014954,32.519606,126.599998
2015-08-20 03:48:25.660,2015-08-20 03:48:25.660,35.014871,32.519612,123.000000
2015-08-20 03:48:26.819,2015-08-20 03:48:26.819,35.014824,32.519654,120.500000
2015-08-20 03:48:27.828,2015-08-20 03:48:27.828,35.014776,32.519689,118.900002
2015-08-20 03:48:29.720,2015-08-20 03:48:29.720,35.014704,32.519691,119.900002
2015-08-20 03:48:30.669,2015-08-20 03:48:30.669,35.014657,32.519734,120.900002
2015-08-20 03:48:33.793,2015-08-20 03:48:33.793,35.014563,32.519719,121.699997
2015-08-20 03:48:34.869,2015-08-20 03:48:34.869,35.014549,32.519694,121.199997
2015-08-20 03:48:37.708,2015-08-20 03:48:37.708,35.014515,32.519625,121.699997
2015-08-20 03:48:38.839,2015-08-20 03:48:38.839,35.014505,32.519599,121.800003
2015-08-20 03:48:41.980,2015-08-20 03:48:41.980,35.014481,32.519514,122.599998
2015-08-20 03:48:42.725,2015-08-20 03:48:42.725,35.014472,32.519486,123.000000
2015-08-20 03:48:45.896,2015-08-20 03:48:45.896,35.014439,32.519405,122.699997
2015-08-20 03:48:46.662,2015-08-20 03:48:46.662,35.014432,32.519379,122.699997
2015-08-20 03:48:49.829,2015-08-20 03:48:49.829,35.014414,32.519309,122.699997
2015-08-20 03:48:50.665,2015-08-20 03:48:50.665,35.014400,32.519287,123.300003
2015-08-20 03:48:53.692,2015-08-20 03:48:53.692,35.014372,32.519211,122.300003
2015-08-20 03:48:54.662,2015-08-20 03:48:54.662,35.014365,32.519187,122.599998
2015-08-20 03:48:58.869,2015-08-20 03:48:58.869,35.014337,32.519106,122.000000
2015-08-20 03:48:59.663,2015-08-20 03:48:59.663,35.014331,32.519084,121.800003

In [25]:
import pytz
ts = df.index[0]
ts.tz_localize(pytz.UTC)

Timestamp('2015-08-20 03:48:07.235000+0000', tz='UTC')

In [26]:
ts.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))

Timestamp('2015-08-20 06:48:07.235000+0300', tz='Asia/Jerusalem')

In [27]:
df.index = df.index.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Asia/Jerusalem'))
df.index[:10]

DatetimeIndex(['2015-08-20 06:48:07.235000+03:00',
               '2015-08-20 06:48:24.734000+03:00',
               '2015-08-20 06:48:25.660000+03:00',
               '2015-08-20 06:48:26.819000+03:00',
               '2015-08-20 06:48:27.828000+03:00',
               '2015-08-20 06:48:29.720000+03:00',
               '2015-08-20 06:48:30.669000+03:00',
               '2015-08-20 06:48:33.793000+03:00',
               '2015-08-20 06:48:34.869000+03:00',
               '2015-08-20 06:48:37.708000+03:00'],
              dtype='datetime64[ns, Asia/Jerusalem]', name='time', freq=None)