In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Series is like an array in numpy but with labels

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# What is actually in the series?

obj.values

array([ 3,  6,  9, 12])

In [4]:
# What are the indexes?

obj.index

RangeIndex(start=0, stop=4, step=1)

### Create a new series with labels

In [12]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [13]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [14]:
ww2_cas['USA']

400000

### Filter a series

In [15]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [18]:
# Series have some dictionary like functionality as is
'USSR' in ww2_cas
ww2_cas.USSR

8700000

### Convert a series to a dict

In [20]:
ww2_dict = ww2_cas.to_dict()

In [21]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

### Make a series from a dict

In [22]:
ww2_n = Series(ww2_dict)
ww2_n

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

### More labels than data not a problem, NaN

In [41]:
countries = ['USSR', 'Germany', 'China', 'Japan', 'USA', 'Argentina']
obj2 = Series(ww2_dict, index=countries)

In [42]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

### Add two series

In [43]:
obj3 = obj2
obj3['Argentina'] = 56
obj3

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina         56.0
dtype: float64

In [44]:
obj4 = obj3 + obj2

In [45]:
obj4

USSR         17400000.0
Germany       8600000.0
China         6000000.0
Japan         4200000.0
USA            800000.0
Argentina         112.0
dtype: float64

### Label the series itself

In [46]:
obj4.name = 'Casualties for WW2'

In [47]:
obj4

USSR         17400000.0
Germany       8600000.0
China         6000000.0
Japan         4200000.0
USA            800000.0
Argentina         112.0
Name: Casualties for WW2, dtype: float64

### Label the index column (think excel)

In [49]:
obj4.index.name='Countries'

In [50]:
obj4

Countries
USSR         17400000.0
Germany       8600000.0
China         6000000.0
Japan         4200000.0
USA            800000.0
Argentina         112.0
Name: Casualties for WW2, dtype: float64

### Convert from float to int

In [57]:
# Convert to an int
obj4 = obj4.astype('int')

In [58]:
obj4

Countries
USSR         17400000
Germany       8600000
China         6000000
Japan         4200000
USA            800000
Argentina         112
Name: Casualties for WW2, dtype: int64